* {
    padding: 0;
    margin: 0;
}


/* SCROLL BAR */

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* GRID STYLINMG */

.header {
    grid-area: h;
}

.menu {
    grid-area: m;
}

.main {
    grid-area: p;
}

.footer {
    grid-area: f;
}

.full {
    display: grid;
    grid-template-areas: 'h h h h h h h h' 'm p p p p p p p' 'f f f f f f f f';
}


/* HEADER STYLING */

.header {
    background: gray;
    display: flex;
    height: 80px;
    position: relative;
}

.header:hover {
    box-shadow: 0px 2px 5px gray;
}

.header .logo {
    flex: 1;
}

.header .logo img {
    height: 80px;
    padding-left: 20px;
}

.header .topmenu {
    flex: 2;
    display: flex;
    justify-content: space-between;
    text-align: end;
    padding-top: 25px;
}

.header .topmenu a {
    text-decoration: none;
    padding: 0px 5px;
    font-size: 20px;
    color: white;
}

.header .topmenu a:last-child {
    padding-right: 20px;
}

.header .topmenu a:hover {
    color: gray;
}

.header .topmenu a:active {
    color: black;
}


/* MAIN STYLING */


/* Side Menu */

.menu {
    background: #F2F2F2;
}

.menu p {
    padding: 10px 0px 0px 80px;
    font-size: 20px;
    font-weight: bold;
}

.menu ul {
    list-style-type: square;
    padding: 5px 20px 20px 100px;
}

.menu ul li {
    padding-top: 5px;
}

.menu ul li a {
    font-size: 17px;
    text-decoration: none;
    color: black;
}

.menu ul li a:hover {
    border: 1px solid black;
    background: #000;
    color: white;
}

.menu ul li a::selection {
    color: green;
}


/* Main Page */

.main {
    width: 50vw;
    margin: 10px 15vw;
}

.main h1 {
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}

.main .form {
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px 0px 150px 0px;
    padding: 10px 50px;
}

.main .form label {
    font-size: 20px;
    font-weight: bold;
}

.main .form input,
select,
textarea {
    margin: 5px 0px 10px 0px;
    width: 90%;
    height: 30px;
}

.main .form input[type=submit] {
    color: white;
    background: black;
    border-radius: 5px 0px 5px 0px;
}

.main .form textarea {
    width: 90%;
    height: initial;
}


/* FOOTER STYLING */

.footer {
    background: gray;
    display: flex;
    height: 60px;
}

.footer:hover {
    box-shadow: 0px -2px 5px gray;
}

.footer .logo {
    flex: 1;
}

.footer .logo img {
    height: 60px;
    padding-left: 20px;
}

.footer .credit {
    flex: 1;
    color: white;
    text-align: end;
    padding-right: 20px;
    padding-top: 15px;
}

.footer .credit a {
    text-decoration: none;
    color: grey;
}

.footer .credit a:hover {
    color: white;
}

.footer .copyright {
    flex: 1;
    color: white;
    text-align: end;
    padding-right: 20px;
    padding-top: 15px;
}

.footer .copyright a {
    text-decoration: none;
    color: white;
}

.footer .copyright a:hover {
    color: grey;
}